@import "tailwind.css";
@import "layout.scss";
@import "element/custom.scss";

*{
  padding: 0;
  margin: 0;
}


html{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body{
  width: 100%;
  height: 100%;
  overflow: auto;
}

